In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [5]:
ser # passing 2 indexes 2 index lvls - abc index 1 -

1  a   -0.505667
   b   -0.359665
   c   -0.162606
2  a   -0.450583
   b   -1.312126
   c   -0.111328
dtype: float64

In [6]:
ser.index

MultiIndex([(1, 'a'),
            (1, 'b'),
            (1, 'c'),
            (2, 'a'),
            (2, 'b'),
            (2, 'c')],
           )

In [7]:
ser[1]

a   -0.505667
b   -0.359665
c   -0.162606
dtype: float64

In [8]:
ser[2]

a   -0.450583
b   -1.312126
c   -0.111328
dtype: float64

In [10]:
ser[:,'a'] # specifinig with ; I want everything on the series high index lvl , and than with , I want lower index lvl 'a'

1   -0.505667
2   -0.450583
dtype: float64

In [11]:
dframe = ser.unstack() # pravi higher index lvls as rows lower index lvls as columns

In [12]:
dframe

          a         b         c
1 -0.505667 -0.359665 -0.162606
2 -0.450583 -1.312126 -0.111328

In [17]:
#dataframe with multiply index levels
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['LA','SF','NY','NY'],['cold','hot','cold','hot']])

In [18]:
dframe2

      LA  SF   NY
    cold hot cold hot
a 1    0   1    2   3
  2    4   5    6   7
b 1    8   9   10  11
  2   12  13   14  15

In [19]:
# name index levels
dframe2.index.names = ['INDEX_1','INDEX_2'] # giving names to index

In [20]:
dframe2.columns.names = ['Cities','Temp']# giving name to columns
dframe2

Cities            LA  SF   NY
Temp            cold hot cold hot
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [22]:
# swapping indexes menjanje mesta indexima
dframe2.swaplevel('Cities','Temp',axis=1)
# mora da se stavi AXIS 1 jer menjamo kolone ako izostavimoo probvace redovo jjer su na axis 0

Temp            cold hot cold hot
Cities            LA  SF   NY  NY
INDEX_1 INDEX_2
a       1          0   1    2   3
        2          4   5    6   7
b       1          8   9   10  11
        2         12  13   14  15

In [26]:
dframe2.sort(1) #???

AttributeError: 'DataFrame' object has no attribute 'sort'

In [27]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           2    4
        2          10   12
b       1          18   20
        2          26   28