In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [11]:
ww2_cas['USA']

400000

In [12]:
# Check witch countries have cas greater than 4 mill
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [13]:
'USSR' in ww2_cas

True

In [14]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 3000000,
 'Japan': 2100000,
 'USA': 400000}

In [16]:
ww2_series = Series(ww2_dict)
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [23]:
countries = ['China', 'USA', 'Japan','Germany','USSR','Argentina']

In [24]:
obj2 = Series(ww2_dict,index=countries)
obj2

China        3000000.0
USA           400000.0
Japan        2100000.0
Germany      4300000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [25]:
pd.isnull(obj2)

China        False
USA          False
Japan        False
Germany      False
USSR         False
Argentina     True
dtype: bool

In [27]:
pd.notnull(obj2)

China         True
USA           True
Japan         True
Germany       True
USSR          True
Argentina    False
dtype: bool

In [28]:
ww2_series

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [29]:
obj2

China        3000000.0
USA           400000.0
Japan        2100000.0
Germany      4300000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [31]:
ww2_series + obj2 #sabere po indeksima

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA            800000.0
USSR         17400000.0
dtype: float64

In [34]:
obj2.name = "World War 2 casualties"
obj2

China        3000000.0
USA           400000.0
Japan        2100000.0
Germany      4300000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 casualties, dtype: float64

In [35]:
obj2.index.name = 'Countries'

In [36]:
obj2

Countries
China        3000000.0
USA           400000.0
Japan        2100000.0
Germany      4300000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 casualties, dtype: float64