In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# getting CSV file
dframe = pd.read_csv('randomtxt.csv')

In [3]:
dframe

   q  r  s  t     apple
0  2  3  4  5      pear
1  a  s  d  f    rabbit
2  5  2  7  5   raccoon
3  v  b  d  s  squirell

In [4]:
# ako ne zelimo prvi red da bude naziv kolona
dframe = pd.read_csv('randomtxt.csv',header=None)

In [5]:
dframe

   0  1  2  3         4
0  q  r  s  t     apple
1  2  3  4  5      pear
2  a  s  d  f    rabbit
3  5  2  7  5   raccoon
4  v  b  d  s  squirell

In [6]:
dframe = pd.read_table('randomtxt.csv',sep=',',header=None)

In [7]:
dframe

   0  1  2  3         4
0  q  r  s  t     apple
1  2  3  4  5      pear
2  a  s  d  f    rabbit
3  5  2  7  5   raccoon
4  v  b  d  s  squirell

In [8]:
pd.read_csv('randomtxt.csv',header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [9]:
pd.read_csv('randomtxt.csv',header=None)

   0  1  2  3         4
0  q  r  s  t     apple
1  2  3  4  5      pear
2  a  s  d  f    rabbit
3  5  2  7  5   raccoon
4  v  b  d  s  squirell

In [10]:
dframe.to_csv('mytxt.csv') # exporting as CSV

In [11]:
import sys

In [12]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,7,5,raccoon
4,v,b,d,s,squirell

In [13]:
dframe.to_csv(sys.stdout,sep='_') # use of delimiter

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_7_5_raccoon
4_v_b_d_s_squirell

In [15]:
url = 'https://docs.python.org/2/library/csv.html'