In [4]:
import pandas as pd

In [1]:
from io import StringIO

In [2]:
data="""\
Sample Animal Intelligence
1 Dog Smart
2 Dog Stupid
3 Cat Smart
4 Cat Smart
5 Dog Dumb
6 Dog Stupid"""

In [6]:
dframe = pd.read_table(StringIO(data),sep='\s+')

In [7]:
dframe

   Sample Animal Intelligence
0       1    Dog        Smart
1       2    Dog       Stupid
2       3    Cat        Smart
3       4    Cat        Smart
4       5    Dog         Dumb
5       6    Dog       Stupid

In [9]:
pd.crosstab(dframe.Animal,dframe.Intelligence,margins=True)

Intelligence  Dumb  Smart  Stupid  All
Animal
Cat              0      2       0    2
Dog              1      1       2    4
All              1      3       2    6