In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
np.random.seed(12345)

In [3]:
dframe = DataFrame(np.random.rand(1000,5))

In [4]:
dframe.head()

          0         1         2         3         4
0  0.929616  0.316376  0.183919  0.204560  0.567725
1  0.595545  0.964515  0.653177  0.748907  0.653570
2  0.747715  0.961307  0.008388  0.106444  0.298704
3  0.656411  0.809813  0.872176  0.964648  0.723685
4  0.642475  0.717454  0.467599  0.325585  0.439645

In [5]:
dframe.tail()

            0         1         2         3         4
995  0.715724  0.063117  0.902055  0.460340  0.943949
996  0.460529  0.712253  0.754892  0.204595  0.792778
997  0.578248  0.491224  0.001471  0.111591  0.740075
998  0.028914  0.445665  0.466800  0.577488  0.905589
999  0.418184  0.156726  0.183991  0.738756  0.697217

In [6]:
dframe.describe()

                 0            1            2            3            4
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.502068     0.510990     0.501709     0.485272     0.503769
std       0.289679     0.288548     0.285303     0.288459     0.286442
min       0.001187     0.000877     0.001471     0.000501     0.000107
25%       0.251832     0.257634     0.263959     0.222521     0.253082
50%       0.492151     0.518141     0.495021     0.477413     0.515572
75%       0.760075     0.764501     0.751866     0.737005     0.744672
max       0.994779     0.999414     0.996215     0.998926     0.996193

In [7]:
col = dframe[0]

In [8]:
col.head()

0    0.929616
1    0.595545
2    0.747715
3    0.656411
4    0.642475
Name: 0, dtype: float64

In [14]:
col[np.abs(col)>0.8]

0      0.929616
8      0.818350
14     0.888422
16     0.945372
19     0.910725
         ...
979    0.888663
987    0.869508
989    0.893268
991    0.868590
992    0.984227
Name: 0, Length: 217, dtype: float64

In [16]:
dframe[(np.abs(dframe)>2).any(1)]

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

In [17]:
dframe[np.abs(dframe)>0.999] = np.sign(dframe)*3

In [18]:
dframe.describe()

                 0            1            2            3            4
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.502068     0.512991     0.501709     0.485272     0.503769
std       0.289679     0.298695     0.285303     0.288459     0.286442
min       0.001187     0.000877     0.001471     0.000501     0.000107
25%       0.251832     0.257634     0.263959     0.222521     0.253082
50%       0.492151     0.518141     0.495021     0.477413     0.515572
75%       0.760075     0.764501     0.751866     0.737005     0.744672
max       0.994779     3.000000     0.996215     0.998926     0.996193